<div id="<%= dom_id menu %>">
  <p>
    <strong>Name:</strong>
    <%= menu.name %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= menu.memo %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= menu.recipe %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= menu.price %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= menu.tax %>
  </p>

</div>
