<div id="<%= dom_id order %>">
  <p>
    <strong>Teble:</strong>
    <%= order.teble_id %>
  </p>

  <p>
    <strong>Menu:</strong>
    <%= order.menu_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= order.qty %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= order.memo %>
  </p>

</div>
