<div id="<%= dom_id table %>">
  <p>
    <strong>Name:</strong>
    <%= table.name %>
  </p>

  <p>
    <strong>Seat:</strong>
    <%= table.seat %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= table.qty %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= table.status %>
  </p>

</div>
